.logo {
	width: 200px;
	height: 225px;
	margin: auto;
	margin-top: 0;
}

.canyon-icon-logo {
	    content: '';
    border-bottom: 112px solid #c0392b;
    border-left: 144px solid transparent;
    box-shadow: 0px 23px 63px -4px grey;
    position: absolute;
    width: 200px;
}

.canyon-icon-logo:before {
	content: '';
    position: absolute;
    border-bottom: 160px solid #d35400;
    border-right: 120px solid transparent;
    box-shadow: -14px 22px 25px -10px grey;
    width: 160px;
    left: -160px;
}

.canyon-icon-logo:after {
	  content: '';
    position: absolute;
    border-bottom: 112px solid #f39c12;
    border-left: 144px solid transparent;
    left: -60;
    top: 70px;
    box-shadow: 0px 17px 21px -12px grey;
}

.peak-icon-logo {
	     content: '';
    border-bottom: 112px solid #2ecc71;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    box-shadow: 0px 59px 48px -40px grey;
    position: absolute;
    top: 100px;
    left: 140px;
}

.leaflet-title>h1 {
	margin-top: 0;
}